Data Mining Assignment 4: Creating a K means Cluster analysis after PCA variable reduction.

In [7]:
# data processing
import numpy as np
import pandas as pd

#Pretty printing 
import pprint 
# modeling
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.cluster import KMeans 
from sklearn import cluster
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score
# plotting
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df_credit = pd.read_csv("https://raw.githubusercontent.com/Alvin-Hoyeong-Kim/ClassWork/main/Python/Data/credit_default_model_data.csv")
df_credit

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,pay_bucket_-2_flag,pay_bucket_-1_flag,pay_amt_total,bill_amt_total,pay_to_billed_ratio,zero_bill_amount,utilization_avg,utilization_max,group,default payment next month
0,40000,28,10371,11895,11228,2475,5341,6255,2567,0,...,0,1,11883,47565,0.249827,0,0.198187,0.297375,M,1
1,320000,35,12233,16490,20011,17918,18627,19167,7000,4100,...,0,0,15100,104446,0.144572,0,0.054399,0.062534,M,0
2,260000,35,188,188,188,188,194,188,188,188,...,0,1,1167,1134,1.029101,0,0.000727,0.000746,M,0
3,360000,36,308711,305594,306176,304645,315118,315782,11000,13000,...,0,0,71322,1856026,0.038427,0,0.859271,0.877172,M,0
4,500000,25,-46,9412,1260,0,1121,6566,9458,1260,...,0,1,20839,18313,1.137935,0,0.006104,0.018824,M,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,50000,34,49093,50375,51400,0,0,0,2400,2400,...,1,0,4800,150868,0.031816,0,0.502893,1.028000,V,1
29996,50000,54,49264,50310,50782,49335,50133,51071,2500,1900,...,0,0,10709,300895,0.035590,0,1.002983,1.021420,V,1
29997,290000,39,58281,62061,65710,69452,73627,77890,5000,5000,...,0,0,32000,407021,0.078620,0,0.233920,0.268586,V,0
29998,60000,46,56869,57976,54398,46937,19085,19506,2110,2131,...,0,0,9251,254771,0.036311,0,0.707697,0.966267,V,0
29999,80000,52,34243,35240,36275,37290,38030,38838,1570,1605,...,0,0,9075,219916,0.041266,0,0.458158,0.485475,V,0

In [9]:
#dropping two columns as direction stated: 
df_credit = df_credit.drop(['default payment next month'],axis =1)
df_credit = df_credit.drop(['group'],axis =1)
df_credit

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,pay_bucket_7_flag,pay_bucket_8_flag,pay_bucket_-2_flag,pay_bucket_-1_flag,pay_amt_total,bill_amt_total,pay_to_billed_ratio,zero_bill_amount,utilization_avg,utilization_max
0,40000,28,10371,11895,11228,2475,5341,6255,2567,0,...,0,0,0,1,11883,47565,0.249827,0,0.198187,0.297375
1,320000,35,12233,16490,20011,17918,18627,19167,7000,4100,...,0,0,0,0,15100,104446,0.144572,0,0.054399,0.062534
2,260000,35,188,188,188,188,194,188,188,188,...,0,0,0,1,1167,1134,1.029101,0,0.000727,0.000746
3,360000,36,308711,305594,306176,304645,315118,315782,11000,13000,...,0,0,0,0,71322,1856026,0.038427,0,0.859271,0.877172
4,500000,25,-46,9412,1260,0,1121,6566,9458,1260,...,0,0,0,1,20839,18313,1.137935,0,0.006104,0.018824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,50000,34,49093,50375,51400,0,0,0,2400,2400,...,0,0,1,0,4800,150868,0.031816,0,0.502893,1.028000
29996,50000,54,49264,50310,50782,49335,50133,51071,2500,1900,...,0,0,0,0,10709,300895,0.035590,0,1.002983,1.021420
29997,290000,39,58281,62061,65710,69452,73627,77890,5000,5000,...,0,0,0,0,32000,407021,0.078620,0,0.233920,0.268586
29998,60000,46,56869,57976,54398,46937,19085,19506,2110,2131,...,0,0,0,0,9251,254771,0.036311,0,0.707697,0.966267
29999,80000,52,34243,35240,36275,37290,38030,38838,1570,1605,...,0,0,0,0,9075,219916,0.041266,0,0.458158,0.485475

In [10]:
target = 'default payment next month'

In [11]:
X_train, X_test = train_test_split(
    df_credit,  test_size=0.66, random_state=0)
X_train

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,pay_bucket_7_flag,pay_bucket_8_flag,pay_bucket_-2_flag,pay_bucket_-1_flag,pay_amt_total,bill_amt_total,pay_to_billed_ratio,zero_bill_amount,utilization_avg,utilization_max
19157,20000,35,8918,8634,8280,11500,9000,0,0,0,...,0,0,0,1,11000,46332,0.237417,0,0.386100,0.575000
29355,30000,41,1448,1261,630,240,690,150,1261,630,...,0,0,0,1,3511,4419,0.794524,0,0.024550,0.048267
15934,80000,45,53916,52462,55327,56804,57469,58505,0,4327,...,0,0,0,0,11627,334483,0.034761,0,0.696840,0.731313
26216,50000,34,27966,28539,11597,6611,7349,7570,1267,1553,...,0,0,0,1,12674,89632,0.141400,0,0.298773,0.570780
8189,270000,29,39004,28963,23021,17934,13650,12864,1520,1719,...,0,0,0,0,10461,135436,0.077239,0,0.083602,0.144459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,600000,38,459600,372345,353121,337695,297541,256158,13713,13250,...,0,0,0,0,71037,2076460,0.034211,0,0.576794,0.766000
19648,260000,30,496,496,992,992,496,1488,496,992,...,0,0,0,1,3968,4960,0.800000,0,0.003179,0.005723
9845,20000,22,15706,15757,15436,16331,10229,10250,1000,1000,...,0,0,0,0,7100,83709,0.084818,0,0.697575,0.816550
10799,180000,44,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0.000000,1,0.000000,0.000000
2732,360000,28,264971,257086,253407,259551,265149,340930,9043,8847,...,0,0,0,0,132906,1641094,0.080986,0,0.759766,0.947028

In [12]:
X_scaler = StandardScaler()
X_train_std = X_scaler.fit_transform(X_train)

In [13]:
k_vals = [4, 5, 6, 7, 8, 9]
p_vals= [10, 15, 20, 25, 30]

Consider all permutations listed below for the number of clusters and the number of principal components
(to be used for clustering) and find out which combination generates the best clustering solution. Use
Silhouette scores to assess clustering solutions. For this step, use a random sample of 10,000 records from the
dataset.
• Number of clusters: 4, 5, 6, 7, 8, 9
• Number of principal components: 10, 15, 20, 25, 30
Select the best number of clusters and principal components based on this analysis. (Pick the set of values that
generate the highest Silhouette score. See the screenshot below.)

In [ ]:
X_bin = {}
for p in p_vals:
    pca = PCA(p,random_state=314)
    pca_X_train = pca.fit_transform(X_train_std)
    for x in k_vals:
        km = KMeans(n_clusters=x, random_state=42)
        km.fit_predict(pca_X_train)
        score = silhouette_score(pca_X_train, km.labels_, metric='euclidean')
        X_bin[str(p)+" principals and "+str(x)+" clusters"] = score

In [ ]:
X_bin2 = {}
X_bin2=(sorted(X_bin.items(), key=lambda x:x[1], reverse=True))

print(X_bin2)

In [ ]:
pca = PCA(10,random_state=314)
pca_X_train = pca.fit_transform(X_train_std)

y_pred = cluster.KMeans(n_clusters=7, n_init=10, random_state=314).fit_predict(pca_X_train)

X_train['pred'] = y_pred

In [ ]:
X_train

In [ ]:
y = X_train.groupby("pred").mean()
y